<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
        </jsp-property-group>
    </jsp-config>

    <session-config>
        <session-timeout>1</session-timeout>
    </session-config>

    <!--Init params-->

    <context-param>
        <param-name>captcha</param-name>
        <!--<param-value>session</param-value>-->
        <param-value>context</param-value>
    </context-param>

    <context-param>
        <param-name>registration timeout</param-name>
        <param-value>30</param-value>
    </context-param>

    <context-param>
        <param-name>context type</param-name>
        <!--<param-value>cookie</param-value>-->
        <param-value>hidden field</param-value>
    </context-param>

    <context-param>
        <param-name>locales</param-name>
        <param-value>en ru</param-value>
    </context-param>

    <context-param>
        <param-name>default_locale</param-name>
        <param-value>en</param-value>
    </context-param>

    <context-param>
            <param-name>l10n storage</param-name>
        <param-value>cookie</param-value>
        <!--<param-value>session</param-value>-->
    </context-param>
    
    <context-param>
        <param-name>l10n cookie time</param-name>
        <param-value>5</param-value>
    </context-param>
    
    <!--Listeners-->

    <listener>
        <listener-class>listener.OnStartServletContextListener</listener-class>
    </listener>


    <!--Filters-->

    <filter>
        <filter-name>LocaleFilter</filter-name>
        <filter-class>filter.LocaleFilter</filter-class>
    </filter>
    <filter>
        <filter-name>NoCacheFilter</filter-name>
        <filter-class>filter.NoCacheFilter</filter-class>
    </filter>

    <filter>
        <filter-name>UserFilter</filter-name>
        <filter-class>filter.UserFilter</filter-class>
    </filter>


    <!--Filters mapping-->

    <filter-mapping>
        <filter-name>LocaleFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>

    <filter-mapping>
        <filter-name>NoCacheFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>UserFilter</filter-name>
        <url-pattern>/makeOrder</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>

</web-app>